body{
    background-color:white;
}

.container{
    width: 300px;
    margin: auto;
}

p{
    font-size: 10pt;
}

.header{
    display: flex;
    width: 100%;
    height: 13%;
}

#profile{
    display: flex;
    width: 95%;
}

#profileName{
    font-size: small;
    line-height: 5pt;
}

#profileIcon{
    margin-left: 10px;
    margin-top: 15px;
    width: 30px;
    height: 30px;
}

#dots{
    float: right;
    width: 10px;
    height: 10px;
    font-size: 15pt;
    margin-right: 10px;
    margin-top: 10px;
}

img{
    width: 20px;
    height: 20px;
    border-radius: 30%;
}

#photoOne{
    width: 100%;
    height: 160pt;
    border-radius: 0%;
}

.icons{
    margin-left: 5px;
}
#save{
    margin: 2px 0px;
    float: right;
    margin-right: 4px;
}


.text{
    margin: 5pt;
}

